<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>iwayplusnavigation</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iwayplusnavigation</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>To play music</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Using Bluetooth to localize the user</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Using Bluetooth to localize the user</string>
	<key>NSCalendarsUsageDescription</key>
	<string>To add or access events in your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan QR codes</string>
	<key>NSContactsUsageDescription</key>
	<string>To access contact information</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs to access location to enhance navigation in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs to access location to enhance navigation.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs to access location to enhance navigation in the foreground.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs to access location to enhance navigation.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for speech recognition.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app tracks your steps</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To select a profile photo</string>
	<key>NSSiriUsageDescription</key>
	<string>To interact with Siri for app-related features</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Voice search</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use this to send personalized notifications.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

	<key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.example.app</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>myapp</string>
        </array>
      </dict>
    </array>
	<key>UNUserNotificationCenter</key>
    <true/>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
